{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link href=" {% static './assets/apple-touch-icon.png' %} " rel="apple-touch-icon">
    <link href=" {% static './assets/favicon.ico' %} " rel="icon">

    <title>Tweet Analyzer</title>

    <link href=" {% static './assets/css/main.97292821.css' %} " rel="stylesheet">
</head>

<body>

    <!-- Add your content of header -->
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse">
                    <button type="button" class="close" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href=" {% url 'INDEX' %} " class="anchor-link">Home</a></li>

                        <li><a href=" {% url 'ANALYZETWEET' %} " class="anchor-link">Check Tweet</a></li>

                        <li><a href=" {% url 'polarity' %} " class="anchor-link">Analyze Tweet</a></li>

                        <li><a href=" {% url 'hashtag' %} " class="anchor-link">Hashtag Prediction</a></li>

                        <li><a href=" {% url 'CONTACT' %} " class="anchor-link">Contact Us</a></li>

                        <li><a href=" {% url 'LOGOUT' %} " class="anchor-link">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Add your site or app content here -->
    <div class="background-image-container white-text-container"
        style="background-image: url(' {% static './assets/images/tweetf.jpg' %} ');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Tweet Analyzer</h1>
                    <p class="">Check sentiments of tweets!</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 section-container-spacer">
                    <h2 class="text-center">Hashtag is the key...</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="fa-container">
                        <i class="fa fa-twitter -o fa-3x" aria-hidden="true"></i>
                    </div>
                    <h3 class="text-center">Tweets</h3>
                    <p class="text-center">As millions of tweets stream by time, here is your handy tool to analyze
                        them.</p>
                </div>

                <div class="col-xs-12 col-md-4">
                    <div class="fa-container">
                        <i class="fa fa-spinner -o fa-3x" aria-hidden="true"></i>
                    </div>
                    <h3 class="text-center">Hashtag Processing</h3>
                    <p class="text-center">Tweets will be analyzed with the help of hashtags. Enter the hashtag and
                        there we go!</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="fa-container">
                        <i class="fa fa-pie-chart -o fa-3x" aria-hidden="true"></i>
                    </div>
                    <h3 class="text-center">Chart</h3>
                    <p class="text-center">After the processing, result will be presented to you through pie-chart.</p>
                </div>
            </div>
        </div>
    </div> -->

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- MAIN -->
    <div class="section-container" id="analyzeTweet">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 section-container-spacer">
                    <h3 class="text-center">Enter Hashtags</h3>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <input required type="text" name="name" class="form-control"
                                        placeholder="Enter Twitter Hash Tag">
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Analyze">
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if data %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h3 class="text-center">Graph</h3>
                <center>
                    <img src="{% static 'images/OutPut.png' %}" width="500px">
                </center>
            </div>
        </div>
    </div>
    {% endif %}

    {% if data %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer" style="text-align: center;">
                <h3 class="text-center">Status</h3>
                <center>
                    {% if pos %}
                    <div class="box"
                        style="box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; padding: 7px; margin: 15px 0;">
                        <h4>Positive : {{ pos }}</h4>
                    </div>
                    {% endif %}

                    {% if neg %}
                    <div class="box"
                        style="box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; padding: 7px; margin: 15px 0;">
                        <h4>Negative : {{ neg }}</h4>
                    </div>
                    {% endif %}

                    {% if net %}
                    <div class="box"
                        style="box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; padding: 7px; margin: 15px 0;">
                        <h4>Netural : {{ net }}</h4>
                    </div>
                    {% endif %}
                </center>
            </div>
        </div>
    </div>
    {% endif %}
<!-- ------------------------------------Shows Recent Tweets----------------------------------------- -->
    {% if li %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer" style="text-align: center; border: 1px solid #ff0000; ">
                <h3 class="text-center">Top Tweets</h3>
                <center>
                    {% for i in li %}
                    <div class="box"
                        style="box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; padding: 13px; margin: 25px 0;">
                        <h3>{{ i }}</h3>
                    </div>
                    {% endfor %}
                </center>
            </div>
        </div>
    </div>
    {% endif %}


    <footer class="footer-container white-text-container">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>About us</h4>
                    <p>We provide charts on the basis of hashtags in twitter with accurate analysis.</p>
                </div>

                <div class="col-md-4">
                    <h4>Do you like ? Share this !</h4>
                    <div>
                        <p>
                            <a href="https://www.twitter.com" class="fa-icon" title="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.facebook.com" class="fa-icon" title="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com" class="fa-icon" title="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>


    <script type="text/javascript" src=" {% static './main.faaf51f9.js' %} "></script>
    {% if msg %}
    <script>alert('{{msg}}')</script>
    {% endif %}
</body>

</html>