{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link href=" {% static './assets/images/apple-touch-icon.png' %} " rel="apple-touch-icon">
    <link href=" {% static './assets/images/favicon.ico' %} " rel="icon">

    <title>Home</title>

    <link href=" {% static './assets/css/main.97292821.css' %} " rel="stylesheet">
</head>

<body>

    <!-- Add your content of header -->
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse">
                    <button type="button" class="close" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href=" {% url 'INDEX' %} " class="anchor-link">Home</a></li>
                        
                        <li><a href=" {% url 'ANALYZETWEET' %} " class="anchor-link">Check Tweet</a></li>
                        
                        <li><a href=" {% url 'polarity' %} " class="anchor-link">Analyze Tweet</a></li>
                        
                        <li><a href=" {% url 'hashtag' %} " class="anchor-link">Hashtag Prediction</a></li>
                        
                        <li><a href=" {% url 'CONTACT' %} " class="anchor-link">Contact Us</a></li>
                        
                        <li><a href=" {% url 'LOGOUT' %} " class="anchor-link">Logout</a></li>
                    </ul>
                </div>
                
            </div>
        </nav>
    </header>



    <!-- Add your site or app content here -->
    <div class="background-image-container white-text-container"
        style="background-image: url(' {% static './assets/images/tweetf.jpg' %} ');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Tweet Analyzer</h1>
                    <p class="">Check sentiments of tweets!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 section-container-spacer">
                    <h2 class="text-center">Hashtag is the key...</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="fa-container">
                        <i class="fa fa-twitter -o fa-3x" aria-hidden="true"></i>
                    </div>
                    <h3 class="text-center">Tweets</h3>
                    <p class="text-center">As millions of tweets stream by time, here is your handy tool to analyze
                        them.</p>
                </div>

                <div class="col-xs-12 col-md-4">
                    <div class="fa-container">
                        <i class="fa fa-spinner -o fa-3x" aria-hidden="true"></i>
                    </div>
                    <h3 class="text-center">Hashtag Processing</h3>
                    <p class="text-center">Tweets will be analyzed with the help of hashtags. Enter the hashtag and
                        there we go!</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="fa-container">
                        <i class="fa fa-pie-chart -o fa-3x" aria-hidden="true"></i>
                    </div>
                    <h3 class="text-center">Chart</h3>
                    <p class="text-center">After the processing, result will be presented to you through pie-chart.</p>
                </div>
            </div>
        </div>
    </div>


    <!-- MAIN -->

    <div class="section-container" id="analyze">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 section-container-spacer">
                    <h3 class="text-center"><a href=" {% url 'LOGOUT' %} " class="btn btn-info btn-lg">Click Here
                            To Logout</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="section-container section-half-background-image-container">
        <div class="image-column" style="background-image: url(' {% static './assets/images/th.jpg' %} ')"></div>
        <div class="container">
            <div class="row">
                <div class="section-label reveal">
                    <p></p>
                </div>
                <div class="col-md-6 col-md-offset-6 text-column">
                    <h2>Know about Twitter</h2>
                    <h3>Since 2006</h3>
                    <p style="text-align: justify;">Twitter was created by Jack Dorsey, Noah Glass, Biz Stone, and Evan
                        Williams in March 2006 and launched in
                        July of that year. By 2012, more than 100 million users posted 340 million tweets a day.</p>
                    <p style="text-align: justify;">Twitter is an American microblogging and social networking service
                        on which users
                        post and interact with messages known as "tweets".</p>
                    <p style="text-align: justify;"> Registered users can post, like, and retweet tweets, but
                        unregistered users can
                        only read those that are publicly available. Users interact with Twitter through browser or
                        mobile frontend software,
                        or programmatically via its APIs.</p>
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 section-container-spacer">
                <h2 class="text-center">Consectetur adipiscing</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src=" {% static './assets/images/img-02.jpg' %} " alt="" class="img-responsive">
                <h3 class="text-center">Consectetur</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>

            <div class="col-xs-12 col-md-4">
                <img src=" {% static './assets/images/img-03.jpg' %} " alt="" class="img-responsive">
                <h3 class="text-center">Malesuada</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src=" {% static './assets/images/img-04.jpg' %} " alt="" class="img-responsive">
                <h3 class="text-center">Phasellus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
        </div>
    </div>
</div> -->

    <!-- <div class="">
    <div class='container-fluid'>
        <div class="row map-container">
            <div id="map"></div>
            <div class="col-xs-10 col-md-4 contact-block-container reveal">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h3>Phone</h3>
                        <p>+ 123 45 67 890</p>

                        <h3>E-mail</h3>
                        <p>hello@email.com</p>

                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <h3>Address</h3>
                        <p>42 rue rouelle 75015, Paris</p>

                        <h3>Open hours</h3>
                        <p>Mon - Fri : 9AM - 5PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


    <footer class="footer-container white-text-container">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>About us</h4>
                    <p>We provide charts on the basis of hashtags in twitter with accurate analysis.</p>
                </div>
                <div class="col-md-4">
                    <h4>Do you like ? Share this !</h4>
                    <div>
                        <p>
                            <a href="https://www.twitter.com" class="fa-icon" title="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.facebook.com" class="fa-icon" title="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com" class="fa-icon" title="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                    <!-- <div>
                        <p><small>© Untitled | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
                    </div> -->

                </div>

                <!-- <div class="col-md-4">
                        
                    <h4>Subscribe to newsletter</h4>
                    
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control footer-input-text">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default btn-newsletter ">OK</button>
                            </div>
                        </div>
                        
                        
                    </div>
                </div> -->
            </div>
        </div>
    </footer>


    <script type="text/javascript" src=" {% static './main.faaf51f9.js' %} "></script>

</body>

</html>